<html xmlns:th="https://www.thymeleaf.org/">
  <head>
    <title>Patient Registration</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
      .row {
        padding: 3px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="card">
        <div class="card-header">
          <h4>Patient Registration</h4>
        </div>
        <div class="card-body">
          <form action="save" id="doctorRegisterForm" method="POST">

            
            <!--row 1-->
            <div class="row">
              <div class="col-2">
                <label for="firstName">Name :</label>
              </div>
              <div class="col-4">
                <input
                  type="text"
                  name="firstName"
                  id="firstName"
                  class="form-control"
                />
              </div>
              <div class="col-6">
                <span id="firstNameError"></span>
              </div>
            </div>

            <div class="row">
              <div class="col-2"><label for="lastName">LastName :</label></div>
              <div class="col-4">
                <input
                  type="text"
                  name="lastName"
                  id="lastName"
                  class="form-control"
                />
              </div>
              <div class="col-6">
                <span id="lastNameError"></span>
              </div>
            </div>
            
            <div class="row">
              <div class="col-2"><label for="email">Email :</label></div>
              <div class="col-4">
                <input
                  type="text"
                  name="email"
                  id="email"
                  class="form-control"
                />
              </div>
              <div class="col-6">
                <span id="emailError"></span>
              </div>
            </div>
            <!-- row 3-->
            <div class="row">
              <div class="col-2">
                <label for="gender"> Gender :</label>
              </div>
              <div class="col-4">
                <input
                  type="radio"
                  name="gender"
                  id="gender1"
                  class="form-radio"
                  value="male"
                />
                Male
                <input
                  type="radio"
                  name="gender"
                  id="gender2"
                  class="form-radio"
                  value="female"
                />
                Female
              </div>
              <div class="col-6">
                <span id="genderError"></span>
              </div>
            </div>

            <!--row 4-->
            <div class="row">
              <div class="col-2">
                <label for="mobile"> Phone :</label>
              </div>
              <div class="col-4">
                <input
                  type="number"
                  name="mobile"
                  id="mobile"
                  class="form-control"
                />
              </div>
              <div class="col-6">
                <span id="mobileError"></span>
              </div>
            </div>

            <!--row 5-->
            <div class="row">
              <div class="col-2">
                <label for="dob"> Date of Birth :</label>
              </div>
              <div class="col-4">
                <input type="date" name="dob" id="dob" class="form-control" />
              </div>
              <div class="col-6">
                  <span id="dobError"></span>
              </div>
            </div>

            <!--row 6-->
            <div class="row">
                <div class="col-2">
                  <label for="maritalStatus"> Marital Status :</label>
                </div>
                <div class="col-4">
                  <input type="radio" name="maritalStatus" id="maritalStatus1" class="form-radio" value="M"/>Married
                  <input type="radio" name="maritalStatus" id="maritalStatus2" class="form-radio" value="UnM"/>UnMarried
                  <input type="radio" name="maritalStatus" id="maritalStatus3" class="form-radio" value="D"/>Divorced
                  <input type="radio" name="maritalStatus" id="maritalStatus4" class="form-radio" value="ls"/>leggaly separated
                </div>
                <div class="col-6">
                    <span id="maritalStatusError"></span>
                </div>
              </div>
              <!--row 7-->
              <div class="row">
                  <div class="col-2">
                      <label for="presentAddrs"> Present Address :</label>
                  </div>
                  <div class="col-4">
                      <textarea name="presentAddrs" id="presentAddrs" class="form-control"></textarea>
                  </div>
                  <div class="col-6">
                      <span id="presentAddrsError"></span>
                  </div>
              </div>

               <!--row 7-->
               <div class="row">
                <div class="col-2">
                    <label for="communicationAddrs"> Communication Address :</label>
                </div>
                <div class="col-4">
                    <textarea name="communicationAddrs" id="communicationAddrs" class="form-control"></textarea>
                </div>
                <div class="col-6">
                    <span id="communicationAddrsError"></span>
                </div>
            </div>

            <!--row 8-->
            <div class="row">
                <div class="col-2"> Past Medical History :</div>
                <div class="col-4">
                    <input type="checkbox" name="mediHistory" id="mediHistory1" value="Sugar"> Sugar
                    <input type="checkbox" name="mediHistory" id="mediHistory2" value="BP"> BP
                    <input type="checkbox" name="mediHistory" id="mediHistory3" value="Ulcer"> Ulcer
                    <input type="checkbox" name="mediHistory" id="mediHistory4" value="Cancer"> Cancer
                    <input type="checkbox" name="mediHistory" id="mediHistory5" value="Asthama"> Asthama
                    <input type="checkbox" name="mediHistory" id="mediHistory6" value="ChickenPox"> ChickenPox

                </div>
                <div class="col-6">
                    <span id="mediHistoryError"></span>
                </div>
            </div>

            <!-- row 9 -->
            <div class="row">
                <div class="col-2">
                    <label for="ifOther">IF Other History
                        <input type="checkbox" name="mediHistory" id="mediHistory5" value=""/>
                    </label>
                </div>
                <div class="col-4">
                    <input type="text" name="ifOther" id="ifOther" class="form-control"/>
                </div>
                <div class="col-6">
                    <span id="mediHistoryError"></span>
                </div>
            </div>
            <!--row 10-->
            <div class="row">
                <div class="col-2">
                    <label for="note"> Other Details :</label>
                </div>
                <div class="col-4">
                    <textarea name="note" id="note" class="form-control"></textarea>
                </div>
                <div class="col-6">
                    <span id="noteError"></span>
                </div>
            </div>




            <button type="submit" class="btn btn-success">CREATE</button>
          </form>
        </div>
        <div class="card-footer">
        	<div th:text = "${message}"></div>
        </div>
      </div>
    </div>
  </body>
</html>
