<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<title>Specialization</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
	
	<style>
		.row {
			padding: 3px;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="card">
			<div class="card-header bg-info text-center">
				<h3>Specialization</h3>
			</div>
			<div class="card-body">
			<a th:href="@{/specialization/excel}" class="btn btn-success">Excel <i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
				<table class="table text-center">
					<tr>
						<th>Id</th>
						<th>Code</th>
						<th>Name</th>
						<th>Note</th>
						<th>operations</th>
					</tr>
					<tr th:each="ob:${list}">
						<td th:text=${ob.id}></td>
						<td th:text=${ob.code}></td>
						<td th:text=${ob.name}></td>
						<td th:text=${ob.note}></td>
						<td><a th:href="@{/specialization/delete(id=${ob.id})}" class="btn btn-danger">DELETE</a>|
							<a th:href="@{/specialization/edit(id=${ob.id})}" class="btn btn-primary">EDIT</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="card-footer">
				<div th:text=${message}></div>
			
			</div>
		</div>
	</div>
</body>

</html>